<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Captura de Receptor</h4>
        <p class="category">Capturar a nuevo receptor</h4>
      </div>
      <div class="content">
        <form data-namespace="destination" data-function="saveDestination">
          <div class="row">
            <div class="col-sm-8 form-group">
              <label>Empresa Receptora</label>
              <input type="text" name="nombre" class="form-control"/>
            </div>
            <div class="col-sm-4 form-group">
              <label>Número de registro como prestador de Servicios</label>
              <input type="text" name="ine" class="form-control"/>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 form-group">
              <label>Domicilio</label>
              <input type="text" name="domicilio" class="form-control"/>
            </div>
            <div class="col-sm-4 form-group">
              <label>Teléfono</label>
              <input type="text" name="telefono" class="form-control"/>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <input type="submit" value="Guardar Destinatario" class="btn btn-primary"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
