<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Registro de generadores</h4>
        <p class="category">Capturar los generadores de residuos</p>
      </div>
      <div class="content">
          <div class="row">
            <div class="col-sm-12">
              <form data-namespace="downloadFiles" data-function="downloadFiles">
                <button class="btn btn-primary">Download</button>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
