<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Registro de generadores</h4>
        <p class="category">Capturar los generadores de residuos</p>
      </div>
      <div class="content">
        <form data-namespace="generators" data-function="storeGenerator">

          <div class="row">
            <div class="col-sm-12">
              <label>Razón Social de la Empresa</label>
              <input type="text" name="razonSocial" class="form-control"/>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8">
              <label>Domicilio</label>
              <input type="text" class="form-control" name="domicilio" />
            </div>
            <div class="col-sm-4">
              <label>C.P.</label>
              <input type="text" class="form-control" name="cp" />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8">
              <label>Municipio</label>
              <input type="text" class="form-control" name="municipio" />
            </div>
            <div class="col-sm-4">
              <label>Estado</label>
              <input type="text" class="form-control" name="estado" />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label>Teléfono</label>
              <input type="text" class="form-control" name="telefono" />
            </div>
            <div class="col-sm-8">
              <label>Número de Registro Ambiental</label>
              <input type="text" class="form-control" name="nra" />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <input type="submit" class="btn btn-primary" value="Guardar Generador"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
