<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Registro de Responsables Receptores</h4>
        <p class="category">Capturar los datos de los responsables</p>
      </div>
      <div class="content">
        <form data-namespace="responsables" data-function="saveResponsable">

          <div class="row">
            <div class="col-sm-12">
              <label>Nombre del Responsable en Receptor</label>
              <input type="text" name="name" class="form-control"/>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <input type="submit" class="btn btn-primary" value="Guardar Responsable"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
