<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Captura de Transportista</h4>
        <p class="category">Capturar a nuevo transportista</h4>
      </div>
      <div class="content">
        <form data-namespace="transporters" data-function="saveTransporter">
          <div class="row">
            <div class="col-sm-8 form-group">
              <label>Nombre de la empresa Transportadora</label>
              <input type="text" name="nombre" class="form-control"/>
            </div>
            <div class="col-sm-4 form-group">
              <label>Número del registro S.C.T.</label>
              <input type="text" name="sct" class="form-control"/>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9 form-group">
              <label>Domicilio</label>
              <input type="text" name="domicilio" class="form-control"/>
            </div>
            <div class="col-sm-3 form-group">
              <label>Teléfono</label>
              <input type="text" name="telefono" class="form-control"/>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <input type="submit" class="btn btn-primary" value="Guardar Transportista"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
