<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Nuevo Chofer</h4>
        <p class="category">Llenar la información completa del chofer</p>
      </div>
      <div class="content">
        <form data-namespace="units" data-function="newDriver">
          <div class="row">
            <div class="col-sm-12">
              <label>Nombre Completo</label>
              <input type="text" class="form-control" name="driverName"/>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary">Guardar Chofer</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Nueva Unidad</h4>
        <p class="category">Llenar la información completa de la nueva unidad</p>
      </div>
      <div class="content">
        <form data-namespace="units" data-function="newUnit" id="newUnit">
          <div class="row">
            <div class="col-sm-6">
              <label>Tipo de Unidad</label>
              <input type="text" class="form-control" name="unitType"/>
            </div>
            <div class="col-sm-6">
              <label>Placas de la Unidad</label>
              <input type="text" class="form-control" name="unitPlates"/>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary">Guardar Unidad</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Nueva Ruta</h4>
        <p class="category">Llenar la información completa de la nueva ruta</p>
      </div>
      <div class="content">
        <form data-namespace="units" data-function="newRoute" id="newRoute">
          <div class="row">
            <div class="col-sm-12">
              <label>Nombre de la ruta</label>
              <input type="text" class="form-control" name="routeName"/>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary">Guardar Ruta</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
