<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Nuevo Manifiesto</h4>
        <p class="category">Captura de nuevo manifiesto</p>
      </div>
      <div class="content">
        <div id="example-basic">
            <h3>Generador</h3>
            <section>
              <div class="row">
                <div class="form-group col-sm-4">
                  <label>Identificación</label>
                  <input type="text" class="form-control" name="identificacion"/>
                </div>
                <div class="form-group col-sm-4">
                  <label>Número de Registro de I.N.E/Edo BC</label>
                  <input type="text" class="form-control" name="noRegister"/>
                </div>
                <div class="form-group col-sm-2">
                  <label>No. Manifiesto</label>
                  <input type="text" class="form-control" name="noManifest"/>
                </div>
                <div class="form-group col-sm-2">
                  <label>Página</label>
                  <input type="text" class="form-control" name="noPage"/>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-12">
                  <label>Razón Social de la Empresa</label>
                  <input type="text" class="form-control" name="name" id="razon-social"/>
                </div>
                <div class="form-group col-sm-12">
                  <label>Domicilio y C.P</label>
                  <input type="text" class="form-control" name="domicilio">
                </div>
                <div class="form-group col-sm-8">
                  <label>Municipio</label>
                  <input type="text" class="form-control" name="municipio">
                </div>
                <div class="form-group col-sm-4">
                  <label>Estado</label>
                  <input type="text" class="form-control" name="estado">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-4">
                  <label>Teléfono</label>
                  <input type="text" class="form-control" name="telefono">
                </div>
                <div class="form-group col-sm-8">
                  <label>N.R.A.</label>
                  <input type="text" class="form-control" name="nra">
                </div>
              </div>
            </section>
            <h3>Residuos</h3>
            <section>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered">
                    <thead>
                      <th>Descripción</th>
                      <th>Cantidad</th>
                      <th>Tipo de contenedor</th>
                      <th>Cantidad total de residuo</th>
                      <th>Unidad Vol/Pes</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td><select class="form-control residuo-tipo" name="tipo"></select></td>
                        <td><input type="number" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                      </tr>
                      <tr>
                        <td><select class="form-control residuo-tipo" name="tipo" ></select></td>
                        <td><input type="number" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                      </tr>
                      <tr>
                        <td><select class="form-control residuo-tipo" name="tipo" ></select></td>
                        <td><input type="number" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                      </tr>
                      <tr>
                        <td><select class="form-control residuo-tipo" name="tipo" ></select></td>
                        <td><input type="number" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Nombre del Responsable</label>
                    <input type="text" class="form-control"/>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Instrucciones especiales e información adicional para el manejo seguro de los residuos</label>
                    <textarea class="form-control" row="3"></textarea>
                  </div>
                </div>
              </div>
            </section>
            <h3>Transportista</h3>
            <section>
                <div class="row">
                  <div class="col-sm-8 form-group">
                    <label>Nombre de la empresa Transportadora</label>
                    <input type="text" class="form-control"/>
                  </div>
                  <div class="col-sm-4 form-group">
                    <label>Número del registro S.C.T.</label>
                    <input type="text" class="form-control"/>
                  </div>
                  <div class="col-sm-9 form-group">
                    <label>Domicilio</label>
                    <input type="text" class="form-control"/>
                  </div>
                  <div class="col-sm-3 form-group">
                    <label>Teléfono</label>
                    <input type="text" class="form-control"/>
                  </div>
                  <div class="col-sm-9 form-group">
                    <label>Domicilio</label>
                    <input type="text" class="form-control"/>
                  </div>
                  <div class="col-sm-3 form-group">
                    <label>Teléfono</label>
                    <input type="text" class="form-control"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <small>Recibí los materiales descritos en el manifiesto para su transporte:</small>
                  </div>
                  <div class="col-sm-8 form-group">
                    <label>Nombre:</label>
                    <input type="text" class="form-control"/>
                  </div>
                  <div class="col-sm-4 form-group">
                    <label>Cargo:</label>
                    <input type="text" class="form-control"/>
                  </div>
                  <div class="col-sm-4 form-group">
                    <label>Fecha:</label>
                    <input type="text" class="form-control"/>
                  </div>
                  <div class="col-sm-8 form-group">
                    <label>Ruta desde la empresa generadora hasta su entrega:</label>
                    <input type="text" class="form-control"/>
                  </div>
                  <div class="col-sm-8 form-group">
                    <label>Tipo de Vehículo:</label>
                    <input type="text" class="form-control"/>
                  </div>
                  <div class="col-sm-4 form-group">
                    <label>Placas:</label>
                    <input type="text" class="form-control"/>
                  </div>
                </div>
            </section>
            <h3>Destinatario</h3>
            <section>
              <div class="row">
                <div class="col-sm-8 form-group">
                  <label>Nombre de la empresa</label>
                  <input type="text" class="form-control"/>
                </div>
                <div class="col-sm-4 form-group">
                  <label>Registro de I.N.E.</label>
                  <input type="text" class="form-control"/>
                </div>
                <div class="col-sm-8 form-group">
                  <label>Domicilio</label>
                  <input type="text" class="form-control"/>
                </div>
                <div class="col-sm-4 form-group">
                  <label>Teléfono</label>
                  <input type="text" class="form-control"/>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <small>Recibí los residuos descritos en el manifiesto</small>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 form-group">
                  <label>Observaciones</label>
                  <textarea class="form-control" rows="3"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8 form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-sm-4 form-group">
                  <label>Cargo</label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-sm-4 form-group">
                  <label>Fecha de recepción</label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-sm-8 form-group">
                  <label>Firma</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </section>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$("#example-basic").steps({
  headerTag: "h3",
  bodyTag: "section",
  transitionEffect: "slideLeft",
  autoFocus: true,
  onInit:function (event, currentIndex, priorIndex) {
    $("#razon-social").typeahead({
      afterSelect: function(selection){
        document.getElementsByName("domicilio")[0].value = selection.domicilio;
        document.getElementsByName("municipio")[0].value = selection.municipio;
        document.getElementsByName("estado")[0].value = selection.estado;
        document.getElementsByName("telefono")[0].value = selection.telefono;
        document.getElementsByName("nra")[0].value = selection.nra;
      }
    });
    adjustStepHeight();
  },
  onStepChanged:function (event, currentIndex, priorIndex) {
    adjustStepHeight();
  }
});

$(window).on('resize',function(){
  adjustStepHeight();
})

function adjustStepHeight(){
  sum = 0;
  //get the current step number
  stepNumber = $("#example-basic").steps("getCurrentIndex");

  //get the combined height of all child elements in the step
  $("#example-basic-p-"+stepNumber).children().each(function(){
       sum += ($(this).height()+
                     parseInt($(this).css("margin-top"))+
                     parseInt($(this).css("margin-bottom"))
  )});

  //add vertical padding to the sum variable
  sum += (parseInt($("#example-basic-p-"+stepNumber).css("padding-top")))*2;

  //set height of step to the sum value
  $(".wizard > .content").css("height",sum);
}

$("#example-basic").on('keyup','#razon-social',function(){
  var results = addManifest.searchValue(this.value);
  results.then(function(results){
    $("#razon-social").data('typeahead').source = results;
  })
})

$(document).ready(function(){
  addManifest.getNextIndex().then(function(index){
    document.getElementsByName("identificacion")[0].value = index;
  })
  addManifest.getTrashType().then(function(residuos){
    $('.residuo-tipo').select2({
      placeholder: "Tipo de Residuo",
      allowClear: true,
      data: residuos
    })
  });
});
</script>
