<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Consulta de Manifiestos</h4>
        <p class="category">Filtrado/Editado de manifiestos</p>
      </div>
      <div class="content">
        <table class="table" id="manifests">
          <thead>
            <th>Control Interno</th>
            <th>Número de Manifiesto</th>
            <th>Generador</th>
            <th>Transportista</th>
            <th>Destinatario</th>
            <th>Fecha de Creación</th>
            <th>Fecha de Edición</th>
            <th>Creado por</th>
            <th>Opciones</th>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  searchManifest.initalizePage();
</script>
