<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Consulta de Manifiestos</h4>
        <p class="category">Filtrado/Editado de manifiestos</p>
      </div>
      <div class="content">
        <div class="table-responsive">
          <table class="table table-condensed" id="manifests">
            <thead>
              <th>Control Interno</th>
              <th>Número de Manifiesto</th>
              <th>Generador</th>
              <th>Transportista</th>
              <th>Destinatario</th>
              <th>Fecha de Creación</th>
              <th>Fecha de Edición</th>
              <th>Creado por</th>
              <th>PDF Adjuntado</th>
              <th>Opciones</th>
            </thead>
            <tbody>
              <tr><td colspan="10"><div class="spinner"></div></td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  searchManifest.initalizePage();
</script>
