<meta charset="utf-8" />
<script>
  if(global.user == undefined){
    global.errorMessage = "No tienes permisos para acceder a esta sección";
    window.history.back();
  }
  var Hogan = require('hjs');
  var Fs = require('fs');
  var data = {
    name:global.user.attributes.name,
    lastname: global.user.attributes.lastname,
    public: global.public,
    views: global.views
  };
  if(global.user.attributes.userLevel == 1){
    data.admin = "admin";
  }
  var html = Fs.readFileSync(global.views+"index.hjs","utf8");
  var template = Hogan.compile(html);
  var page = template.render(data);
  document.write(page);
</script>
